<h2>List of Works</h2>
  <section class="media-table">
  <%= render partial: "listworks", locals: { title: "Albums", works: @work_albums } %>

  <%= render partial: "listworks", locals: { title: "Movies", works: @work_movies } %>

  <%= render partial: "listworks", locals: { title: "Books", works: @work_books } %>

  <%= link_to "Back to Media List", root_path, method: :get, class:"btn btn-primary" %>
  </section> 